<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520770380974-uof98of000v2qtk98sfpd32rmf7naivt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520770380974-uof98of000v2qtk98sfpd32rmf7naivt</string>
	<key>API_KEY</key>
	<string>AIzaSyCM1EjMbxc3vtllx5v1sFLa8-bFPoX5H6k</string>
	<key>GCM_SENDER_ID</key>
	<string>520770380974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flostay</string>
	<key>PROJECT_ID</key>
	<string>flostay-ce499</string>
	<key>STORAGE_BUCKET</key>
	<string>flostay-ce499.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520770380974:ios:15a3092b4063952cda793f</string>
</dict>
</plist>